package components

templ Footer() {
	<footer class="footer">
		<div class="container-fluid">
			<div class="level">
				<div class="level-left">
					<div class="level-item">
						&copy; 2025, Golang-SvelteKit Boilerplate
					</div>
				</div>
			</div>
		</div>
	</footer>
}
